.signin {
    margin: 0 1rem;
    @include lg {
        margin: 0 auto;
        max-width: 1024px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    align-items: start;

    @include lg {
        grid-template-columns: 1fr 1fr;
    }
}

.signin-info, #form-signin, #form-signup, #form-signup-volunteer, #form-signup-sololearner, #form-signup-parent {
    display: grid;
    margin: 2rem 0;
}

.signin-info {
    @include lg {
        position: sticky;
        top:6rem;;
    }
}